<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Presentation Index - <%- projectName %></title>

    <meta name="description" content="<%- projectDescription %>">
    <meta name="author" content="<%- authorName %>">
    <meta name="license" content="<%- license %>">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/css/reveal.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/css/theme/blood.min.css" id="theme">
</head>

<body>
    <h1>Presentation Index - <%- projectName %></h1>

    <h3>Select a presentation below:</h3>
    <ul id="presentation-list">
        <li>
            <a href="/presentations/<%- presentationName %>/index.html"><%- presentationTitle %></a>
            <p><%- description %></p>
        </li>
    </ul>

    <footer><a id="page-url" href="#">URL</a></footer>
</body>

<script>
    let elm = document.getElementById('page-url');
    elm.href = document.URL;
    elm.innerText = document.URL;
</script>

</html>
